$color--darkest: #000;
$color--darker: #010203;
$color--dark: #8b8d8f;
$color--light: #e8e7e6;
$color--lighter: #f1f1f3;
$color--lightest: #fff;

$color--primary: #d81920;
$color--primary-dark: #933343;
$color--primary-darker: #7c0018;
