.container {
  max-width: 1174px;
  margin-left: auto;
  margin-right: auto;

  padding-right: 17px;
  padding-left: 17px;
}

@media only screen and (max-width: 1315px) {
  .container {
    padding: 0 !important;
    overflow: hidden;
  }
}
