<img class="crowd" src="../../assets/crowd.svg" />
<div class="footer">
  <div class="container">
    <p class="footer__copy">
      +Live Nation produced promoted concert at an owned and operated venue in
      the U.S. Tickets are subject to program availability, venue capacity and
      age restrictions.
    </p>

    <p class="footer__copy">
      NO PURCHASE NECESSARY. Legal U.S. residents 18+, who reside within a 100
      mile radius of New York City, NY, Chicago, IL, Houston, TX, Cleveland, OH
      or Atlanta, GA. Void where prohibited by law. Begins at 12:00 PM PT on
      2/9/15 and ends at 11:59 PM PT on 3/31/15. See details and
      <span class="footer__active-text" (click)="openLightbox('rules-lightbox')"
        >Official Rules</span
      >. To enter without a GNC Game Code,
      <span class="footer__active-text" (click)="openLightbox('rules-lightbox')"
        >Click here</span
      >
      for alternative method of entry.
    </p>

    <p class="footer__copy">
      The Sponsor of the Sweepstakes is GNC® Holdings Inc. The Administrator of
      the Sweepstakes is Live Nation Marketing, Inc., 7060 Hollywood Blvd., Los
      Angeles, CA 90028. The Sweepstakes and all accompanying materials are
      ©2015 Live Nation Worldwide, Inc. Live Nation and Rock Flight are
      registered trademarks of Live Nation Worldwide, Inc.
    </p>

    <p class="footer__copy">
      <a class="footer__active-text">Click Here</a> for your nearest GNC
      location.
      <a class="footer__link first">Live Nation Privacy Policy </a>
      <a class="footer__link">GNC Privacy Policy</a>
    </p>
  </div>
</div>
