@import '../../styles/base';

:host {
  width: 100%;
}

.crowd {
  width: 100%;
  display: block;
  margin-bottom: -10%;
  transform: translate(-40px, -38%) scale(-1.06, 1);
  z-index: 5;
  position: relative;
}

.footer {
  padding-top: 40px;
  padding-bottom: 200px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $color--darkest;

  &__copy {
    font-family: $font--secondary;
    font-size: 11px;
    color: $color--dark;
  }

  &__active-text,
  &__link {
    cursor: pointer;
    color: $color--primary;
  }

  &__link {
    padding-bottom: 3px;
    margin: 0 16px;
    border-bottom: 1px solid $color--primary-darker;
    position: relative;

    &:before {
      content: '|';
      color: $color--dark;
      position: absolute;
      left: -17px;
    }

    &.first {
      margin-left: 36px;
    }
  }
}

@media only screen and (max-width: 1315px) {
  .crowd {
    margin-bottom: -15%;
    transform: translate(-23px, -46%) scale(-1.06, 1);
  }
}

@media only screen and (max-width: 580px) {
  .footer__link {
    display: block;
    margin: 10px 0 !important;
    border: none;
  }
  .crowd {
    margin-bottom: -13%;
    transform: translate(0, -52%) scale(-1, 1);
  }
}
