<div class="logos">
  <img class="logos__image" height="33" src="../../../assets/gnc.svg" />
  <img class="logos__image" src="../../../assets/livenation.png" />
</div>
<div class="share">
  <div class="share__label">share</div>
  <div class="share__social-icon share__social-icon--facebook ">
    <span class="fa fa-facebook"></span>
  </div>
  <div class="share__social-icon share__social-icon--twitter">
    <span class="fa fa-twitter"></span>
  </div>
</div>
