@import '../../styles/base';

:host {
  background-color: $color--darkest;
  color: $color--lightest;
  display: flex;
  justify-content: flex-start; /* align items in Main Axis */
  border-bottom: 2px solid $color--primary;
  flex-direction: row;
  max-height: 65px;
  width: 99.5%;
}

.logos {
  display: flex;
  align-items: center;
  margin-left: 15px;

  &__image {
    width: auto;
    padding: 0 10px;
    margin: 10px 0;
  }
}

.share {
  background-color: $color--primary;
  margin-left: auto;
  align-items: center;
  display: flex;
  align-items: center;
  padding: 18px 15px 18px 20px;

  &__label {
    font-family: $font--primary;
    color: $color--lightest;
    text-transform: uppercase;
    margin-right: 5px;
  }

  &__social-icon {
    cursor: pointer;
    width: 38px;
    height: 38px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 7px;

    .fa {
      font-size: 16px;
    }

    &--twitter {
      background-color: #00abf3;
    }

    &--facebook {
      background-color: #39589e;
    }
  }
}
