@import '../../styles/base';

.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  overflow: auto;

  &__content {
    padding: 25px;
    background: $color--lightest;
    margin: 40px;
    box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 0.9);
    max-width: 800px;
  }

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color--darkest;
    opacity: 0.75;
    z-index: 99;
  }
}
