@import './styles/base.scss';

:host {
  background-color: $color--lightest;
  position: relative;
}

.main-fold {
  background-image: url('../assets/burst.svg');
  background-size: cover;
  position: fixed;
  background-size: cover;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.content {
  display: flex;
  flex-wrap: wrap;
  padding: 28px 0;

  &__information {
    width: 53%;
    flex-grow: 1;

    &--banner {
      position: relative;
      width: 86%;
      margin-left: -71px;
      padding: 18px 10px 18px 80px;
      background-color: $color--primary;
      color: $color--lightest;
      font-family: $font--primary;
      text-shadow: 2px 3.5px 0 rgba(0, 0, 0, 0.3);
      font-size: 40px;
      line-height: 0.9;
      letter-spacing: -0.4px;

      &:before,
      &:after {
        content: '';
        position: absolute;
        border-style: solid;
      }

      &:before {
        top: 32px;
        right: 93%;
        left: -50%;
        height: 109px;
        border: none;
        background: linear-gradient(to right, $color--primary, #ae0022);
        z-index: -1;
      }

      &:after {
        top: 0;
        right: -52px;
        border-width: 54px 53px 54px 0;
        border-color: $color--primary transparent $color--primary $color--primary;
      }

      &-text {
        display: inline-block;

        position: relative;
        &:before {
          content: ' ';
          display: block;
          position: absolute;
          left: -80px;
          bottom: -51px;
          border-top: 33px solid $color--primary-darker;
          border-left: 45px solid transparent;
        }
      }
    }

    &--announcement {
      font-family: $font--primary;
      font-size: 40px;
      line-height: 0;
      letter-spacing: -0.4px;
    }

    &--prize {
      font-family: $font--primary;
      font-size: 32px;
      line-height: 1.44;
      letter-spacing: -0.3px;
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      .icon {
        margin-right: 8px;
        height: 38px;
        width: 38px;
        border-radius: 100%;
        background-color: $color--primary;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &__inner-circle {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          border-radius: 100%;
          border: 1px solid $color--lightest;

          &--graphic {
            color: $color--lightest;
            font-size: 22px;
            line-height: 1.57;
            letter-spacing: -0.2px;
          }
        }
      }
    }
  }

  &__form {
    width: 47%;
    flex-grow: 1;
  }
}

.rock-block {
  position: relative;
  display: inline-block;
  margin-bottom: 64px;

  &__image {
    display: block;
    max-width: 90%;
    height: auto;
  }

  &__textbox {
    position: absolute;
    top: 46%;
    left: 30%;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    &--header {
      position: absolute;
      height: 100%;
      text-align: center;
      width: 100%;

      font-family: $font--primary;
      font-size: 68px;
      line-height: 1.1;
      letter-spacing: -1.4px;
      color: $color--primary;
    }
  }
}

#rules-lightbox {
  h1 {
    margin: 0;
  }

  h1,
  p {
    font-family: $font--secondary;
    color: $color--darker;
  }
}

@media only screen and (max-width: 1315px) {
  .rock-block {
    margin-left: 20px;
  }
  .content {
    &__information {
      text-align: center;
      width: 100% !important;
      margin-bottom: 30px;

      &--banner {
        width: 100%;
        &:before,
        &:after {
          display: none;
        }

        &-text {
          &:before {
            display: none;
          }
        }
      }

      &--announcement {
        margin-top: 50px;
        margin-bottom: 45px;
      }

      &--prize {
        margin-left: 7%;
        font-size: 30px;
      }
    }
  }
}

@media only screen and (max-width: 580px) {
  .rock-block__textbox {
    top: 22%;
    left: 22%;

    &--header {
      font-size: 15vw;
    }
  }

  .content {
    &__information {
      text-align: center;
      width: 100% !important;
      margin-bottom: 30px;

      &--banner {
        width: 95%;
        &:before,
        &:after {
          display: none;
        }

        &-text {
          font-size: 26px;
          padding: 4px;
          line-height: 1.1;
        }
      }

      &--announcement {
        font-size: 26px;
      }

      &--prize {
        margin-left: 7%;
        font-size: 20px;
      }
    }
  }
}
