<div class="main-fold"></div>
<div class="container">
  <app-header></app-header>

  <div class="content">
    <div class="content__information">
      <div class="rock-block">
        <div class="rock-block__textbox">
          <h1 class="rock-block__textbox--header">SWEEPSTAKES</h1>
        </div>
        <img
          class="rock-block__image"
          src="../assets/rock.svg"
          alt="GNC Ticket To Rock"
        />
      </div>

      <div class="content__information--banner">
        <span class="content__information--banner-text">
          Enter for a chance to win a Rock Flight<br />
          to a Live Nation concert of your choice!*
        </span>
      </div>
      <h2 class="content__information--announcement">
        1 Grand Prize winner will recieve:
      </h2>
      <div class="content__information--prize">
        <div class="icon">
          <div class="icon__inner-circle">
            <span class="icon__inner-circle--graphic fa fa-ticket"></span>
          </div>
        </div>
        2 tickets to a Live Nation concert in the U.S.*
      </div>
      <div class="content__information--prize">
        <div class="icon">
          <div class="icon__inner-circle">
            <span class="icon__inner-circle--graphic fa fa-plane"></span>
          </div>
        </div>
        Airfare & hotel accomodations for 2
      </div>
      <div class="content__information--prize">
        <div class="icon">
          <div class="icon__inner-circle">
            <span class="icon__inner-circle--graphic fa fa-usd"></span>
          </div>
        </div>
        $200 cash gift card
      </div>
    </div>
    <app-form class="content__form"></app-form>
  </div>
</div>
<app-footer class="footer"></app-footer>

<app-lightbox id="rules-lightbox">
  <h1>Sweepstakes Rules</h1>
  <p class="footer__copy">
    +Live Nation produced promoted concert at an owned and operated venue in the
    U.S. Tickets are subject to program availability, venue capacity and age
    restrictions.
  </p>

  <p class="footer__copy">
    NO PURCHASE NECESSARY. Legal U.S. residents 18+, who reside within a 100
    mile radius of New York City, NY, Chicago, IL, Houston, TX, Cleveland, OH or
    Atlanta, GA. Void where prohibited by law. Begins at 12:00 PM PT on 2/9/15
    and ends at 11:59 PM PT on 3/31/15. See details and
    <span class="footer__active-text">Official Rules</span>. To enter without a
    GNC Game Code, <span class="footer__active-text">Click here</span> for
    alternative method of entry.
  </p>

  <p class="footer__copy">
    The Sponsor of the Sweepstakes is GNC® Holdings Inc. The Administrator of
    the Sweepstakes is Live Nation Marketing, Inc., 7060 Hollywood Blvd., Los
    Angeles, CA 90028. The Sweepstakes and all accompanying materials are ©2015
    Live Nation Worldwide, Inc. Live Nation and Rock Flight are registered
    trademarks of Live Nation Worldwide, Inc.
  </p>

  <p class="footer__copy">
    <a class="footer__active-text">Click Here</a> for your nearest GNC location.
    <a class="footer__link first">Live Nation Privacy Policy </a>
    <a class="footer__link">GNC Privacy Policy</a>
  </p>
</app-lightbox>
