/* You can add global styles to this file, and also import other style files */
@import './app/styles/normalize';
@import './app/styles/base';

@import '~@ng-select/ng-select/themes/default.theme.css';

@font-face {
  font-family: 'DINCond';
  src: url('./assets/fonts/DIN/D-DINCondensed-Bold.otf');
}

@font-face {
  font-family: 'MochaMattari';
  src: url('./assets/fonts/MochaMattari/MochaMattari.otf');
}

body {
  overflow-x: hidden;
}
