<form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="form__hide-burst"></div>
  <h5 *ngIf="success">Your form is valid!</h5>
  <div class="input-container">
    <label class="input-field">
      First Name
      <input class="input-field__input" type="text" formControlName="firstName" />
      <div *ngIf="submitted && userForm.controls.firstName.errors" class="input-field--error">
        <div *ngIf="userForm.controls.firstName.errors.required">
          Your first name is required
        </div>
      </div>
    </label>

    <label class="input-field">
      Last Name
      <input class="input-field__input" type="text" formControlName="lastName" />
      <div *ngIf="submitted && userForm.controls.lastName.errors" class="input-field--error">
        <div *ngIf="userForm.controls.lastName.errors.required">
          Your last name is required
        </div>
      </div>
    </label>

    <label class="input-field">
      Email
      <input class="input-field__input" type="text" formControlName="email" />
      <div *ngIf="submitted && userForm.controls.email.errors" class="input-field--error">
        <div *ngIf="userForm.controls.email.errors.required">
          Your email is required
        </div>

        <div *ngIf="userForm.controls.email.errors.email">
          A valid email is required
        </div>
      </div>
    </label>
    <label class="input-field">
      Confirm Email
      <input class="input-field__input" type="text" formControlName="confirmEmail" />
      <div *ngIf="submitted && userForm.controls.confirmEmail.errors" class="input-field--error">
        <div *ngIf="userForm.controls.confirmEmail.errors">
          Confirmation email does not match
        </div>
      </div>
    </label>

    <label class="input-field">
      <div class="hidden--mobile">Select your metro area</div>
      <div class="visible--mobile">Metro area</div>
      <ng-select
        class="input-field__metro"
        [items]="cities"
        bindLabel="name"
        bindValue="id"
        labelForId="state"
        [multiple]="false"
        placeholder="Select"
        clearAllText="Clear"
        formControlName="metro"
      >
      </ng-select>
      <div *ngIf="submitted && userForm.controls.metro.errors" class="input-field--error">
        <div *ngIf="userForm.controls.metro.errors.required">
          Your metro area required
        </div>
      </div>
    </label>

    <label class="input-field">
      Zip Code
      <input class="input-field__input" type="text" formControlName="zipCode" />
      <div *ngIf="submitted && userForm.controls.zipCode.errors" class="input-field--error">
        <div *ngIf="userForm.controls.zipCode.errors.required">
          Your zip code is required
        </div>
      </div>
    </label>

    <label class="input-field full-width--mobile">
      Phone Number
      <span class="input-field--disclaimer">(used only to contact winners)</span>
      <div class="input-field__phone-field">
        <input
          #phone1
          (input)="onInputEntry($event, phone2)"
          class="input-field__input"
          type="text"
          formControlName="phone1"
          maxlength="3"
        />
        <input
          #phone2
          (input)="onInputEntry($event, phone3)"
          class="input-field__input"
          type="text"
          formControlName="phone2"
          maxlength="3"
        />
        <input
          #phone3
          class="input-field__input"
          type="text"
          formControlName="phone3"
          maxlength="4"
        />
      </div>
      <div
        *ngIf="
          submitted &&
          (userForm.controls.phone1.errors ||
            userForm.controls.phone2.errors ||
            userForm.controls.phone3.errors)
        "
        class="input-field--error"
      >
        <div
          *ngIf="
            submitted &&
            (userForm.controls.phone1.errors ||
              userForm.controls.phone2.errors ||
              userForm.controls.phone3.errors)
          "
        >
          Your phone number is required
        </div>
      </div>
    </label>
  </div>

  <div class="checkbox-field">
    <input class="checkbox-field__checkbox" id="cb-rules" type="checkbox" formControlName="rules" />
    <label for="cb-rules">
      I agree to the
      <span class="active-text" (click)="openLightbox('rules-lightbox')">Official Rules</span>
    </label>
  </div>

  <div class="checkbox-field">
    <input
      class="checkbox-field__checkbox"
      id="cb-offers"
      type="checkbox"
      formControlName="offers"
    />
    <label for="cb-offers">
      Yes, I would like to receive special offers from GNC.
      <span class="asterisk">*</span>
    </label>
  </div>

  <div class="checkbox-field">
    <input class="checkbox-field__checkbox" id="cb-info" type="checkbox" formControlName="info" />
    <label for="cb-info">
      Yes, I would like concert information from Live Nation.
      <span class="asterisk">*</span>
    </label>
  </div>

  <div class="input-field">
    <div *ngIf="submitted && userForm.controls.rules.errors" class="input-field--error">
      <div *ngIf="userForm.controls.rules.errors">
        You must agree to the Official Rules
      </div>
    </div>
  </div>

  <div class="optional-text"><span class="asterisk">*</span>Optional</div>

  <img class="form__captcha" src="../../../assets/reCAPTCHA_OldAPI.png" />

  <button class="form__submit">Enter Now</button>
</form>

<!-- <div *ngIf="submitted" class="results">
  <strong>Name:</strong>
  <span>{{ userForm.controls.name.value }}</span>

  <strong>Message:</strong>
  <span>{{ userForm.controls.message.value }}</span>
</div> -->
