@import '../../styles/base';

.form {
  position: relative;
  padding: 18px 23px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.11);
  background-color: $color--lightest;

  //on top of sunburst background but beneath crowd background
  &__hide-burst {
    position: absolute;
    left: 0;
    right: 0;
    top: 86%;
    bottom: 0;
    z-index: 6;
    background-color: $color--lightest;
    opacity: 0.9;
  }

  &__captcha {
    position: relative;
    z-index: 10;
    width: 64%;
    max-width: 350px;
    margin: 11px 0px 6px -9px;
  }

  &__submit {
    position: relative;
    z-index: 10;
    text-transform: uppercase;
    background-color: $color--primary;
    color: $color--lightest;
    border: none;
    font-family: $font--tertiary;
    text-shadow: 2px 3.5px 0 rgba(0, 0, 0, 0.3);
    font-size: 44px;
    padding: 12px 28px;
    position: absolute;
    bottom: 53px;
    right: -17px;
    box-shadow: -1px 21px 0px -14px rgba(0, 0, 0, 0.17);

    &:after {
      content: ' ';
      display: block;
      position: absolute;
      right: 0px;
      bottom: -16px;
      border-top: 16px solid $color--primary-darker;
      border-right: 16px solid transparent;
    }
  }
}

.input-container {
  position: relative;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.input-field {
  color: $color--darkest;
  font-family: $font--primary;
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: normal;
  text-transform: uppercase;
  width: 48.5%;

  &--error {
    text-transform: none;
    color: $color--primary;
    font-size: 16px;
  }

  &--disclaimer {
    text-transform: none;
    font-family: $font--secondary;
    font-size: 10px;
  }

  &__metro ::ng-deep {
    position: relative;
    z-index: 10;

    .ng-value-label {
      color: $color--darkest;
    }

    .ng-select-container {
      border: 1px solid $color--darkest;
      background-color: $color--lighter;
      height: 47px;
      border-radius: 0;
      margin-bottom: 10px;
      .ng-input {
        padding: 0 14px;
        font-size: 24px;
      }
    }

    .ng-placeholder {
      top: 16px;
      font-size: 24px;
      margin-left: 3px;
      text-transform: none;
      transform: none;
    }

    .ng-option-label,
    .ng-value {
      text-transform: none;
    }

    .ng-arrow {
      border-color: $color--primary transparent transparent;
      border-style: solid;
      border-width: 11px 6px 0.5px;
    }

    .ng-value {
      font-size: 24px;
    }
  }
  .ng-select-opened ::ng-deep .ng-arrow {
    top: 2px;
    border-color: transparent transparent $color--primary !important;
    border-width: 0 6px 12px;
  }

  &__input {
    display: block;
    border: 1px solid $color--darkest;
    background-color: $color--lighter;
    height: 47px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 14px;
    box-sizing: border-box;
    font-size: 24px;
    color: $color--darker;
  }

  &__phone-field {
    display: flex;
    justify-content: space-between;

    .input-field__input {
      width: 30%;
      text-align: center;
    }
  }
}

.checkbox-field {
  margin-top: 6px;
  &__checkbox {
    position: absolute;
    opacity: 0;

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      font-family: $font--secondary;
      font-size: 12px;
    }

    //check BOX
    & + label:before {
      content: '';
      margin-right: 10px;
      margin-top: -5px;
      display: inline-block;
      vertical-align: text-top;
      width: 22px;
      height: 22px;
      border: 1px solid $color--darkest;
      background-color: $color--lighter;
    }

    //checkmark
    &:checked + label:after {
      content: '\f00c';
      font-family: 'FontAwesome';
      position: absolute;
      left: 4px;
      font-size: 16px;
      top: -2px;
      color: $color--primary;
    }
  }
}

.active-text {
  color: $color--primary;
  border-bottom: 1px solid $color--primary;
  position: relative;
}

.optional-text {
  margin-top: 13px;
  font-family: $font--secondary;
  font-size: 10px;
}

.asterisk {
  position: relative;
  z-index: 10;
  color: $color--primary;
}

.hidden--mobile {
  display: inline-block;
}

.visible--mobile {
  display: none;
}

@media only screen and (max-width: 1315px) {
  .form {
    &__submit {
      right: 15px;

      &:after {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 580px) {
  .form {
    &__submit {
      display: block;
      position: relative;
      bottom: 0;
      margin: auto;
      right: 0;
    }

    &__captcha {
      margin: 15px auto;
      display: block;
      width: 100%;
    }

    .checkbox-field__checkbox + label:before {
      margin-right: 5px;
    }
  }

  .full-width--mobile {
    width: 100%;
  }
  .hidden--mobile {
    display: none;
  }

  .visible--mobile {
    display: inline-block;
  }
}
